<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Погода</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <app-cityadd></app-cityadd>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet></div>
  </main>
</div>


